.mem-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.timeline {
  width: 100%;
  display: flex;
  background: linear-gradient(to right, #d3959b, #b7e6ba);
}
