.main-image {
  max-width: 100%;
  height: auto;
  display: block; /* to remove white space below image */
}

.live-feed-section {
  position: relative;
  min-height: 80vh;
  background: rgba(211, 211, 211, 0.2) url('../../assets/kidsBackground.jpg')
    no-repeat;
  background-position: center;
  background-size: cover;
}

.memories-section {
  position: relative;
  min-height: 80vh;
  background-color: darksalmon;
  /* background: url('..//../assets//flowers.jpg');
  background-position: top;
  background: cover;
  background-size: cover;
  background-attachment: fixed; */
}
.memories-backgorund {
}

.crib-image {
  width: 30%;
  height: auto;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.9);
  border-radius: 10px;
}

.map-section {
  position: relative;
  min-height: 80vh;
  background-color: rgb(40, 124, 14);
}
.main-background {
  /* background: rgba(211, 211, 211, 0.2) url('../../assets/main_edited.jpg')
    no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 90vh;
  overflow: hidden;
  background-blend-mode: overlay; */
  min-height: 90vh;
  background-color: thistle;
}

.live-feed-wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  color: #fff;
  opacity: 1;
}

.wave {
  position: absolute;
  bottom: -70px;
  left: 0;
  width: 100%;

  color: #fff;
  opacity: 1;
}
